<nz-modal [(nzVisible)]="visible" nzTitle="{{formName}}"(nzOnCancel)="handleCancelTransactionModal()" (nzOnOk)="handleOkTransactionModal()">
  <ng-container *nzModalContent >
    <form
      nz-form
      nzLayout="horizontal"
      [formGroup]="validateForm"
    >
      <!--      (ngSubmit)="submitForm()"-->

      <nz-form-item>
        <nz-form-label >idDep</nz-form-label>
        <nz-form-control  nzErrorTip="Please input book title!">
          <input nz-input formControlName="idDep" placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label >BorrowDate</nz-form-label>
        <nz-form-control  nzErrorTip="Please select borrowdate!">
          <nz-date-picker formControlName="borrowdate" [nzFormat]="datepickerformat">

          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label >ReturnDate</nz-form-label>
          <nz-date-picker formControlName="returndate" [nzFormat]="datepickerformat" ></nz-date-picker>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label >isReturned</nz-form-label>
        <nz-radio-group formControlName="isreturned" [(ngModel)]="radioValue">
          <label nz-radio nzValue="true">YES</label>
          <label nz-radio nzValue="false">NO</label>
        </nz-radio-group>
      </nz-form-item>


<!--        <nz-form-label>Book</nz-form-label>-->
<!--       <nz-select nzShowSearch formControlName="book" nzAllowClear nzPlaceHolder="Select a Book">-->
<!--          <nz-option  *ngFor="let data of welbook.bookDetails"  [nzLabel]="data.title" [nzValue]="data.bookId">-->
<!--          </nz-option>-->
<!--        </nz-select>-->
<nz-form-item>
  <nz-form-label>Book</nz-form-label>
      <nz-select [(ngModel)]="selectedBook" formControlName="book" nzAllowClear nzPlaceHolder="Sele a book" nzShowSearch>
        <nz-option  *ngFor="let data of welbook.bookDetails"  [nzLabel]="data.title" [nzValue]="data.bookId">
        </nz-option>
      </nz-select>
</nz-form-item>

      <nz-form-item>
        <nz-form-control >
          <button nz-button nzType="primary" (click)="SuccesNotify('success')" (click)="buttonswap()">{{buttonname}}</button>

        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

